@import "tailwindcss";

@theme {
  --font-abeezee: 'ABeeZee', sans-serif;
  --color-jade-accent: #7B9669;
  --color-pebble-light: #E6E6E6;
  --color-slate-mist: #6C8480;
  --color-sage-border: #BAC8B1;
  --color-forest-dark: #404E3B;
  --color-error-warm: #9E473B;
}

@layer base {
  body {
    background-color: var(--color-sage-border);
    color: var(--color-forest-dark);
    -webkit-font-smoothing: antialiased;
  }
}